//Element dimensions
$container-padding: 26px;
$card-width: 308px;
$card-outer-margin: 26px;
$card-inner-padding: 19px;
$card-text-margin: 19px;
$arrows-width: 40px;
$arrow-dimensions: 10px;
$arrow-border: 3px;
$arrow-transition-time: 0.2s;
$arrow-transform-scale: 1.2;
$card-translate-time: 3s;
$xs-width: 576px;

//Colors
$body-color: #F6F6F6;
$green-color: #2DA936;
$card-background-color: #fff;
$simple-text-color: #3A3A3A;
$subtitle-color: #ADADAD;
$box-shadow-color: #E0E0E0;

//Text
$card-font-family: Arial;
$font-weight: bold;
$normal-font-size: 12px;
$title-font-size: 23px;
$learn-more-font-size: 16px;
$line-height: 1.583;

//Mixins
@mixin box-shadow($value) {
  box-shadow: $value $value 1px $box-shadow-color;
  -moz-box-shadow: $value $value 1px $box-shadow-color;
  -o-box-shadow: $value $value 1px $box-shadow-color;
  -webkit-box-shadow: $value $value 1px $box-shadow-color;
}

@mixin arrow($rotate-value, $scale-value) {
  transform: rotate($rotate-value) scale($scale-value);
  -webkit-transform: rotate($rotate-value) scale($scale-value);
  -o-transform: rotate($rotate-value) scale($scale-value);
  -moz-transform: rotate($rotate-value) scale($scale-value);
  -ms-transform: rotate($rotate-value) scale($scale-value);
}

@mixin translateX($translate){
  -webkit-transform: translateX($translate);
  -moz-transform: translateX($translate);
  -ms-transform: translateX($translate);
  -o-transform: translateX($translate);
  transform: translateX($translate);
}

@mixin translateY($translate){
  -webkit-transform: translateY($translate);
  -moz-transform: translateY($translate);
  -ms-transform: translateY($translate);
  -o-transform: translateY($translate);
  transform: translateY($translate);
}


@mixin transition($transition-time) {
  -webkit-transition: all $transition-time ease-in-out;
  -moz-transition: all $transition-time ease-in-out;
  -ms-transition: all $transition-time ease-in-out;
  -o-transition: all $transition-time ease-in-out;
  transition: all $transition-time ease-in-out;
}

@mixin animation($animation-name, $animation-duration, $animation-timing){
  -webkit-animation: $animation-name $animation-duration $animation-timing;
  -o-animation: $animation-name $animation-duration $animation-timing;
  animation: $animation-name $animation-duration $animation-timing;
}

@keyframes card-slide {
  0% {@include translateX(0px);
      @include translateY(0px);
  }
  100% {
    @include translateX($card-width);
    @include translateY($card-width);
  }
}

.card-translate{
  @include animation(card-slide,$card-translate-time,linear);
}

body {
  background-color: $body-color;
  margin: 0;
}

img {
  width: 100%;
}

#loader {
  position: fixed;
  background: url("../images/loader.gif") no-repeat center center;
  min-height: 100px;
  min-width: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#error {
  display: none;
  width: 100%;
}

.container {
  padding: $container-padding;
  position: relative;
  overflow: hidden;


  &:nth-child(2){
    padding:0;
    position: static;
    padding-bottom: $container-padding;
  }

  .row {
    position: absolute;

    /*============
      CARDS
   =============*/

    .card {
      display: inline-block;
      vertical-align: top;
      width: $card-width;
      background-color: $card-background-color;
      font-family: $card-font-family;
      @include box-shadow(1px);

      .card-inner {
        padding: $card-inner-padding;
      }

      .card-learn-more {
        text-decoration: none;
      }

      .card-top {
        overflow: hidden;
      }

      .card-top, .card-text {
        margin-bottom: $card-text-margin;
      }

      .card-micro-image {
        float: left;
      }

      .card-titles {
        overflow: hidden;

        div {
          margin-left: 10px;
        }

        .card-title, .card-subtitle {
          font-weight: $font-weight;
        }

        .card-title {
          font-size: $title-font-size;
          color: $simple-text-color;
        }

        .card-subtitle {
          font-size: $normal-font-size;
          color: $subtitle-color;
        }

      }

      .card-text {
        font-size: $normal-font-size;
        color: $simple-text-color;
        line-height: $line-height;
      }

      .card-learn-more {
        font-weight: $font-weight;
        font-size: $learn-more-font-size;
        color: $green-color;
      }

    }

    .card + .card {
      margin-left: $card-outer-margin;
    }

    /*============
        ARROWS
     =============*/

    #arrows {
      width: $arrows-width;
      margin: auto;

      .arrow {
        height: $arrow-dimensions;
        width: $arrow-dimensions;
        border: solid $green-color;
        border-width: $arrow-border $arrow-border 0 0;
        @include transition($arrow-transition-time);

        &:hover {
          cursor: pointer;
        }
      }

      #left-arrow {
        float: left;
        @include arrow(-135deg, 1);

        &:hover {
          @include arrow(-135deg, $arrow-transform-scale);
        }
      }

      #right-arrow {
        float: right;
        @include arrow(45deg, 1);

        &:hover {
          @include arrow(45deg, $arrow-transform-scale);
        }
      }

      .disabled:hover {
        cursor: not-allowed;
      }
    }
  }
}

@media screen and (max-width: $xs-width) {
  .container {

    .row {
      .card {
        display: block;
      }

      .card + .card {
        margin-left: 0;
        margin-top: $card-outer-margin;
      }
    }
  }
}
