@keyframes card-slide {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateX(308px);
    -moz-transform: translateX(308px);
    -ms-transform: translateX(308px);
    -o-transform: translateX(308px);
    transform: translateX(308px);
    -webkit-transform: translateY(308px);
    -moz-transform: translateY(308px);
    -ms-transform: translateY(308px);
    -o-transform: translateY(308px);
    transform: translateY(308px); } }
.card-translate {
  -webkit-animation: card-slide 3s linear;
  -o-animation: card-slide 3s linear;
  animation: card-slide 3s linear; }

body {
  background-color: #F6F6F6;
  margin: 0; }

img {
  width: 100%; }

#loader {
  position: fixed;
  background: url("../images/loader.gif") no-repeat center center;
  min-height: 100px;
  min-width: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

#error {
  display: none;
  width: 100%; }

.container {
  padding: 26px;
  position: relative;
  overflow: hidden; }
  .container:nth-child(2) {
    padding: 0;
    position: static;
    padding-bottom: 26px; }
  .container .row {
    position: absolute;
   /*============
     CARDS
  =============*/
    /*============
        ARROWS
     =============*/ }
    .container .row .card {
      display: inline-block;
      vertical-align: top;
      width: 308px;
      background-color: #fff;
      font-family: Arial;
      box-shadow: 1px 1px 1px #E0E0E0;
      -moz-box-shadow: 1px 1px 1px #E0E0E0;
      -o-box-shadow: 1px 1px 1px #E0E0E0;
      -webkit-box-shadow: 1px 1px 1px #E0E0E0; }
      .container .row .card .card-inner {
        padding: 19px; }
      .container .row .card .card-learn-more {
        text-decoration: none; }
      .container .row .card .card-top {
        overflow: hidden; }
      .container .row .card .card-top, .container .row .card .card-text {
        margin-bottom: 19px; }
      .container .row .card .card-micro-image {
        float: left; }
      .container .row .card .card-titles {
        overflow: hidden; }
        .container .row .card .card-titles div {
          margin-left: 10px; }
        .container .row .card .card-titles .card-title, .container .row .card .card-titles .card-subtitle {
          font-weight: bold; }
        .container .row .card .card-titles .card-title {
          font-size: 23px;
          color: #3A3A3A; }
        .container .row .card .card-titles .card-subtitle {
          font-size: 12px;
          color: #ADADAD; }
      .container .row .card .card-text {
        font-size: 12px;
        color: #3A3A3A;
        line-height: 1.583; }
      .container .row .card .card-learn-more {
        font-weight: bold;
        font-size: 16px;
        color: #2DA936; }
    .container .row .card + .card {
      margin-left: 26px; }
    .container .row #arrows {
      width: 40px;
      margin: auto; }
      .container .row #arrows .arrow {
        height: 10px;
        width: 10px;
        border: solid #2DA936;
        border-width: 3px 3px 0 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .container .row #arrows .arrow:hover {
          cursor: pointer; }
      .container .row #arrows #left-arrow {
        float: left;
        transform: rotate(-135deg) scale(1);
        -webkit-transform: rotate(-135deg) scale(1);
        -o-transform: rotate(-135deg) scale(1);
        -moz-transform: rotate(-135deg) scale(1);
        -ms-transform: rotate(-135deg) scale(1); }
        .container .row #arrows #left-arrow:hover {
          transform: rotate(-135deg) scale(1.2);
          -webkit-transform: rotate(-135deg) scale(1.2);
          -o-transform: rotate(-135deg) scale(1.2);
          -moz-transform: rotate(-135deg) scale(1.2);
          -ms-transform: rotate(-135deg) scale(1.2); }
      .container .row #arrows #right-arrow {
        float: right;
        transform: rotate(45deg) scale(1);
        -webkit-transform: rotate(45deg) scale(1);
        -o-transform: rotate(45deg) scale(1);
        -moz-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1); }
        .container .row #arrows #right-arrow:hover {
          transform: rotate(45deg) scale(1.2);
          -webkit-transform: rotate(45deg) scale(1.2);
          -o-transform: rotate(45deg) scale(1.2);
          -moz-transform: rotate(45deg) scale(1.2);
          -ms-transform: rotate(45deg) scale(1.2); }
      .container .row #arrows .disabled:hover {
        cursor: not-allowed; }

@media screen and (max-width: 576px) {
  .container .row .card {
    display: block; }
  .container .row .card + .card {
    margin-left: 0;
    margin-top: 26px; } }

/*# sourceMappingURL=cards.css.map */
